@import "global";

li.toDoApp__list-item {
    color: $purple-theme;
    padding: 0.5rem 1rem;
    line-height: 0;
    @include flex-between();

    & > span {
        font-size: 1.2rem;
        line-height: 0;
    }

    .bi-trash{
        &:hover {
            color: $red-warn;
            cursor: pointer;
        }
    }
}
